
#azul {
    background-color: rgb(100, 109, 213);
}

#verde_intenso {
    background-color: green;
}

#amarillo {
    background-color: yellow;
}

#rojo {
    background-color: red;
}

#verde {
    background-color: rgb(131, 203, 131);
}

#azul_intenso {
    background-color: blue;
}